:root{
    --primary-color: #22def6;
    --primary-colorA: #FDB813;
    --secondary-color: #37c9e6;
    --secondary-colorA: #06B6E1;
    --tertiary-color: #ffffff;
    --fourtiary-color: #000000;
    --fourtiary-colorA: #F05422;
    --fourtiary-colorB: #595959;
}